<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chudolab.remembereverything" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".Main2Activity"
            android:windowSoftInputMode="adjustResize" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <activity
            android:name=".old_main.MainActivity"
            android:windowSoftInputMode="adjustResize" >
           
        </activity>
        <activity android:name=".old_main.Options" />
        <activity android:name=".lists_of_notes.SimpleListActivity" />
        <activity android:name=".lists_of_notes.TasksListActivity" />
        <activity android:name=".lists_of_notes.ToDoListActivity" />
        <activity android:name=".one_note_show.SimpleNoteActivity" />
        <activity android:name=".one_note_show.ToDoNoteActivity" />
        <activity android:name=".one_note_show.TaskNoteActivity" />

        <receiver android:name=".options.AlarmReceiver" />

        <activity android:name=".ListOfSubjectActivity" />
        <activity android:name=".main_page.MainPageActivity" >
        <activity android:name=".LoginSingupActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
